<html>
    <head>
        <title>Let's Meet</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" type="text/css" href="./Final.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Montserrat&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d81895d5ed.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>