* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

:root {
    --njit-blue: #2D4059;
    --njit-gold: goldenrod;
    --njit-red: #802828;
    --njit-light-red: #ac4e4e;
    --njit-dark-red: #421f1f;
    --njit-meteorite: rgb(29, 32, 37);
    --njit-black: rgb(15, 15, 18);
    --njit-white: rgb(240, 240, 240);
    --njit-gray: rgb(40, 40, 40);
    --njit-black-underline: rgb(20, 20, 20);
    scrollbar-color: transparent transparent;
}

.hidden {
    display: none;
}

/* NEW STYLING START */
.content-container {
    overflow: hidden;
}

.njit-header {
    background-image: linear-gradient(rgb(29, 32, 37),rgb(28, 30, 35), rgb(20, 22, 25));
    position: relative;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 5px black;
}

.njit-banner {
    color: var(--njit-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 20px;
    font-size: 1.25rem;
    border: 1px solid var(--njit-white);
    padding: 5px 10px 5px 10px;
}

.app-name {
    color: var(--njit-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar-directory {
    display: flex;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-size: .8rem;
    right: 25;
    color: var(--njit-white);
}

.home-directory, .about-directory, .settings-full-icon {
    padding: 5px 10px 5px 10px;
}

.home-directory:hover, .about-directory:hover, .settings-full-icon:hover {
    border-bottom: 1px solid var(--njit-white);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.content-view {
    background: url("https://i.imgur.com/HMpfRVq.png");
    display: grid;
    grid-template-columns: 300px auto;
}

.all-users-container {
    height: 95vh;
}

.all-friends-container {
    min-height: 50%;
    max-height: 50%;
}

.all-friends-div {
    overflow-y: scroll;
    scrollbar-width: none;
}

.currentUsers {
    background-color: var(--njit-meteorite);
    box-shadow: 2px 0 5px black;
    width: 300px;
    z-index: 9;
}

.current-all-users-container-div {
    min-height: 50%;
    max-height: 50%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.current-all-users-container-div::-webkit-scrollbar, .all-friends-div::-webkit-scrollbar {
    display: none;
}

.current-user-container-header {
    color: var(--njit-white);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    background-color: rgb(50, 50, 55);
    box-shadow: inset 0 0 10px black;
}

.current-user-display {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    align-items: center;
    border-bottom: 1px solid var(--njit-black-underline);
}

.current-user-name {
    color: var(--njit-white);
    font-family: 'Inconsolata', sans-serif;
}

.current-user-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

#online {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lime;
    box-shadow: 0 0 2px lime;
}

#offline {
    background-color: var(--njit-gray);
    box-shadow: 0 0 3px black;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.friend-request-icon {
    display: inline-block;
    width: 20px;
}

.friend-request-icon:hover {
    cursor: pointer;
}

.event-container-container {
    display: grid;
    width: 60%;
    height: 95vh;
    padding: 25px;
}

.content-container-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
}

.add-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 50%;
    padding: 20px;
    border: 2px solid var(--njit-white);
    width: 60px;
    transition-duration: .25s;
}

.add-button:hover {
    background-color: rgba(0, 0, 0, .8);
    transform: scale(1.075);
    transition-duration: .25;
}

.mapping-button {
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px 5px 10px;
    border: none;
    color: var(--njit-white);
    font-family: 'Inconsolata', sans-serif;
    font-size: .9rem;
}

.mapping-button:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.event-content-container {
    position: relative;
    background-color: rgba(0, 0, 0, .6);
    overflow-y: scroll;
}

.event-history-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.event-session {
    background-image: linear-gradient(var(--njit-white), rgb(130, 130, 130));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    height: 150px;
}

.title {
    color: var(--njit-black);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.owner {
    color: var(--njit-gray);
    margin-top: 10px;
    font-family: "Inconsolata", sans-serif;
    font-size: .9rem;
}

.expanded-event {
    color: var(--njit-white);
    background-color: rgba(0,0, 0, .6);
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.event-typing-family {
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;

}
.profile-shown {
    background-color: red;
}

.event-form {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    right: 25px;
    bottom: 125px;
    width: 625px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 50px;
}

.event-form:hover {
    background-color: rgba(0, 0, 0, .8);
}

.event-form:hover .create-event-header {
    background-color: rgba(0, 0, 0, .8);
}

.create-event-header {
    grid-column: span 2;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--njit-white);
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: -40px;
    left: -20px;
    padding: 10px;
}

.form-main-content {
    display: grid;
    grid-gap: 5px;
}

select {
    appearance: none;
    background: none;
}

.title-container, .type-select-container, .location-input-container, .time-input-container, .visibility-input-container, .text-area-container, .join-type-input-container  {
    background: none;
    border: none;
    border-bottom: 1px solid var(--njit-white);
    color: var(--njit-white);
    font-family: "Montserrat", sans-serif;
}

.text-area-container {
    border-bottom: 1px solid var(--njit-white);
    font-size: .8rem;
    margin-bottom: 5px;
}

.text-and-submit {
    display: flex;
    flex-direction: column;
}

.text-area-container {
    height: 90%;
}

.submit-button {
    background: none;
    border: none;
    border: 1px solid var(--njit-white);
    color: var(--njit-white);
    font-family: "Montserrat", sans-serif;
    padding: 5px 0 5px 0;
}

.submit-button:hover {
    background-color: black;
}

/* Chat Page */

.leave{
    cursor:pointer;
    padding: 15px 15px;
    background: #e6e9ff;
    color: #667aff;
    border: 0;
    font-size: 17px;
}

.chat-container{
    background: var(--njit-white);
    max-width:1100px;
    text-align: center;
    /*background: #fff; */
    margin: 30px auto;
    overflow: hidden;
}

.chat-header{
    background: var(--njit-blue);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

.chat-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar{
    background: #7386ff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.room_name{
    margin-bottom:15px;
}

.chat-sidebar h2{
    font-size:20px;
    background: rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom:20px;

}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages{
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages form{
    display: flex;
}

.google-login-page {
    background-image: url("https://i.imgur.com/D2JbBmQ.jpg");
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-page-upper {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    padding: 40px;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
}

.highlander {
    width: 250px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
}

.login-button {
    background-color: rgba(0, 0, 0, 0.6);
    width: 250px;
    height: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition-duration: .25s;
    font-family: "Montserrat", sans-serif;
    color: var(--njit-white);
}

.login-button:hover{
    background-color: rgba(0, 0, 0, 1);
    transition-duration: .25s;
}

.landing-container {
    background-color: var(--njit-black);
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.page-container {
    padding: 50px;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app-description {
    text-align: left;
    padding: 40px;
    font-size: 1.25rem;
    border-right: 1px solid var(--njit-white);
    color: var(--njit-white);
}

.team {
    padding: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--njit-white);
}

.temp-container {
    display: flex;
    flex-direction: column;
}

.refresh-button {
    border: none;
    color: var(--njit-white);
    font-family: "Montserrat", sans-serif;
    z-index: 21;
    background-color: black;
    padding: 10px;
    position: relative;
    bottom: 30px;
}

.refresh-button:hover {
    color:limegreen;
    cursor: pointer;
}

.settings-container {
    background-color: var(--njit-meteorite);
    position: fixed;
    right: 0;
    top: 5vh;
}

.settings-list {
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
}

.setting-option {
    padding: 10px 20px 10px 20px;
}
.setting-option:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.event-filters-styling {
    position: fixed;
    background-color: var(--njit-meteorite);
    right: 0;
    top: 5vh;
    z-index: 100;
    display: grid;
    justify-content: center;
    align-items: center;
}

.filter-form {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.submit-filter-button {
    border: none;
}

.own-profile-shown {
    background-color: var(--njit-meteorite);
    position: fixed;
    right: 0;
    top: 5vh;
    z-index: 100;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
    font-family: "Montserrat";
}

.pfp-own-profile {
    border-radius: 50%;
    text-align: center;
}

.pfp-content {
    font-family: "Montserrat", sans-serif;
    font-size: .75rem;
}

.profile-button {
    display: inline-block;
    border: none;
    padding: 10px;
    background-color: var(--njit-meteorite);
    color: var(--njit-white);
}

.profile-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.filter-button-toggling {
    display: flex;
    z-index: 1000;
}
#displayOnScreen {
    right: 0px;
}

#displayOffScreen {
    right: 5000px;
}

.event-session-container {
    background-color: none;
}

.profile-shown {
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat";
    color: var(--njit-white);
    font-size: .9rem;
}

.pfp-for-users {
    width: 100px;
    border-radius: 50%;
}

.friend-request-inbox {
    background-color: var(--njit-meteorite);
    position: fixed;
    top: 5vh;
    right: 0;
    padding: 10px;
    color: var(--njit-white);
    font-family: "Montserrat", sans-serif;
}
/* NEW STYLING END*/
/*

.google-login-page {
    background-image: url("https://i.imgur.com/gWZMoWN.jpg");
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-page-upper {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: grid;
    background-color: var(--njit-blue);
    border-radius: 20px;
    border: 1px solid white;
    width: 300px;
    padding: 40px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.highlander {
    width: 250px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
}

.login-button {
    background-color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition-duration: .25s;
}

.login-button:hover{
    background-color: var(--njit-red);
    transition-duration: .25s;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.njit-header {
    position: relative;
    display: flex;
    background-color: var(--njit-red);
    color: var(--njit-white);
    align-items: center;
    justify-content: center;
    height: 60px;
}

.njit-banner {
    border-top: 1px solid var(--njit-white);
    border-botto.landing-container {
    background-color: var(--njit-black);
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.page-container {
    padding: 50px;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app-description {
    text-align: left;
    padding: 40px;
    font-size: 1.25rem;
    border-right: 1px solid var(--njit-white);
    color: var(--njit-white);
}

.team {
    padding: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--njit-white);
}m: 1px solid var(--njit-white);
    position: absolute;
    left: 50px;
    font-size: 2rem;
}

.user-profile-button {
    font-size: 2.5em;
}

.clickable-icon:hover
{
    cursor: pointer;
}

.content-container {
    background-color: var(--njit-black);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-container-buttons {
    display: flex;
}

.content-view {
    display: flex;
    margin: auto;
    justify-content: center;
}

.current-user-container-header {
    color: white;
    background-color: var(--njit-red);
}

.friend-request-prompt {
    z-index: 10;
    color: white;
    background-color: var(--njit-gold);
}

.friend-request-inbox-button {
    display: inline-block;
}

.friend-request-inbox {
    position: absolute;
    z-index: 8;
    background-color: var(--njit-dark-red);
    color: white;
}

.friend-request {
    margin: 1em;
    display: flex;
}

.friend-request .friend-request-options {
    align-self: end;
    margin-left: 1em;
}

.content-room {
    background-color: var(--njit-blue);
    text-align: center;
}

.event-content-container {
    position: relative;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 960px;
    height: 80vh;
}

.event-history-container {
    background-color: var(--njit-dark-red);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    border: 1px solid var(--njit-black);
    padding: 20px;
    border-radius: 10px;
    height: 90%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.event-session-container {
    background-color: var(--njit-red);
    color: var(--njit-white);
    text-align: center;
    border: 1px solid var(--njit-light-red);
    margin: 12px;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    row-gap: 0;
}

.event-session-container:hover {
    background-color: var(--njit-light-red);
}

.expanded-event {
    display: inline-block;
    min-width: 50%;
    border-left: 1px solid var(--njit-black);
    border-right: 1px solid var(--njit-black);
    border-radius: 10px;
    padding: 10px;
    font-size: .8rem;
}

.event-session {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.event-session:hover {
    padding: 10px;
    cursor: pointer
}

.event-form {
    display: grid;
    grid-template-columns: 150px  150px 150px 100px auto auto;
    text-align: center;
    background-color: var(--njit-dark-red);
    height: 12%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    grid-gap: 10px;
}

.type-select-container, .location-input-container,
.time-input-container, .text-area-container, .submit-button, .title-container  {
    background: var(--njit-red);
    text-align: center;
    color: var(--njit-white);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--njit-light-red);
    transition-duration: .25s;
}

.submit-button:hover {
    transition-duration: .25s;
    background-color:var(--njit-light-red);
}

.profile-picture {
    width: 200px;
    border-radius: 50%;
    border: 1px solid var(--njit-black);
}

.profile-container {
    display: inline-block;
    z-index: 1;
}

#navbar-profile-container
{
    position: absolute;
    right: 250px;
    top: 70px;
}

.profile-content-container {
    background-color: var(--njit-red);
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-button {
    width: 150px;
    height: 50px;
    background-color: var(--njit-red);
    border-radius: 10px;
    border: 1px solid var(--njit-light-red);
    transition-duration: .25s;
    color: var(--njit-white);
}

.ChatRoom {
    width: 150px;
    height: 50px;
    background-color: var(--njit-red);
    border-radius: 10px;
    border: 1px solid var(--njit-light-red);
    transition-duration: .25s;
    color: var(--njit-white);
}

.ChatRoom:hover {
    cursor: pointer;
}

.profile-button:hover {
    background-color: var(--njit-light-red);
    transition-duration: .25s;
}

.close-btn {
    position: absolute;
    left: 11;
}

.landing-container {
    background-color: var(--njit-black);
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.page-container {
    padding: 50px;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app-description {
    text-align: left;
    padding: 40px;
    font-size: 1.25rem;
    border-right: 1px solid var(--njit-white);
    color: var(--njit-white);
}

.team {
    padding: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--njit-white);
}

.current-user-display {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    color: white;
    transition-duration: .25s;
}

.current-user-display:hover {
    background-color: gray;
    transition-duration: .25s;
}

#online {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lime;
    box-shadow: 0 0 2px lime;
}

#offline {
    background-color: red;
    box-shadow: 0 0 3px orangered;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.profile-shown {
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
}

.profile-shown:hover {
    cursor: pointer;
}

.title {
    font-size: 2rem;
}

.owner {
    font-size: .75rem;
}

.owner:hover {
    background-color: green;
    cursor: pointer;
}

.title:hover {
    background-color: blue;
    cursor: pointer;
}

.navbar-top-buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1em;
}

.settings-toggle-button {
    font-size: 2.5em;
}

.settings-container {
    background-color: blue;
    padding: 10px;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1;
}

.settings-list {
    list-style-type: none;
    font-size: .75rem;
}

.setting-option {
    background-color: green;
    padding: 5px;
}

.setting-option:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.own-profile-shown {
    position: fixed;
    right: 0;
    top: 200;
    background-color: gray;
}

.own-profile-shown:hover {
    cursor: pointer;
}

*/
.google-map-event-container {
    display: grid;
    grid-gap: 5px;
}

.google-map-event {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--njit-red);
    padding: 20px;
    color: var(--njit-white);
}

.google-location {
    text-align: center;
}
.google-map-event-container {
    display: grid;
    grid-gap: 5px;
}

.google-map-event {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--njit-meteorite);
    padding: 20px;
    color: var(--njit-white);
}

.google-location {
    text-align: center;
}

.googling-container {
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    z-index: 25;
    position: fixed;
    right: 75;
}